  <header>
    <div class="navbar navbar-light bg-light shadow-sm fixed-top" id="bar">
      <div class=" text   grid">
        <div class="title"> Gigtailor <img src="/public/images/logo9.jpeg" alt=""></div>
        <div class="links"> <ul class="n-l">
          <li id="search"><i class="fa fa-search"></i> <input type="text" placeholder='Search Here....' class="bg-light" id="searcher"></li>
          <li><a href="/" class="hea"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="/cart-list" class="hea"><i class="fa fa-shopping-cart"></i>Cart <span class="badge bg-dark text-light">{{session.cart.totalQty}}</span></a></li>
          <li><a href="/contact" class="hea"><i class="fa fa-address-book"></i>Contact</a></li>
          <li><a href="/About" class="hea"> <i class="fa fa-info"></i>About</a></li>
          <li><a href="#" class="hea" id="account"> <i class="fa fa-user"></i>Profile</a>

          </li>
          
        </ul>
        <div class="log-hide">
          <div id="singin"><a href="/login/form">Login</a></div>
          <div id="register"><a href="/singUp/form">Register</a></div>
        </div>
        </div>

        <div class="manu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>

      </div>
    </div>

    <div id="displayer">

    </div>


      <div class="down-hide">
        <div class="mobile-nav">
          <ul>
            <li id="search"><i class="fa fa-search"></i> <input type="text" placeholder='Search Here....' class="bg-light"></li>
            <li class="mobile-list"><a href="/">Home </a> <i class="fa fa-home r-icon" ></i></li>
            <li class="mobile-list"><a href="/cart-list">Cart</a> <i class="fa fa-shopping-cart r-icon"></i></li>
            <li class="mobile-list"><a href="#">Contact</a> <i class="fa fa-address-book r-icon"></i></li>
            <li class="mobile-list"><a href="#">About</a> <i class="fa fa-info r-icon"></i></li>
            <li class="mobile-list"><a href="#">Profile</a> <i class="fa fa-user r-icon"></i></li>
            <li class="mobile-list"><a href="#">Login</a> <i class="fa fa-sign-in r-icon"></i></li>
            <li class="mobile-list"><a href="#">Register</a> <i class="fa fa-sign-in-alt r-icon"></i></li>
  
          </ul>
        </div>

      </div>
    </header>


<div class="forgot1 " id="fog1">
  <div class="for-in1">
  <form class="" method="post" action='/user/changeP'>

    <div class="text-center mb-4">
    <div class="reset">
    <img src="/public/images/images (2).png" alt="" class="img img-fluid mt-3">
    </div>
   
  </div>

  <div class="form-label-group">
    <input name="password1" type="password" id="inputEmail" class="form-control" placeholder="Enter new password" required autofocus>
    <label for="inputEmail">Enter new password</label>
  </div>

    <div class="form-label-group">
    <input name="password2" type="password" id="inputEmail" class="form-control" placeholder="Renter new password" required autofocus>
    <label for="inputEmail">Renter new password</label>
  </div>
  <input name="id" type="text" id="id" value="{{id}}" hidden>

  <button class="btn btn-lg btn-block btn-style" type="submit" >Reset <i class="fa fa-reset"></i></button>
  </form>
  </div>

</div>